<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>答卷</title>
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/iconfont/iconfont.css">
</head>
<body>
<!-- 头部 -->
<div class="header po_fix">
    <div class="back fl">
        <a href="#" class="fl">
            <i class="iconfont icon-fanhui"></i>返回
        </a>
    </div>
    <div class="title fl">
        <h2>答卷</h2>
    </div>
</div>
<div class="answer-box">
    <h3>公司<span class="line-bottom">____<i>1</i></span>部门和<span class="line-bottom">____<i>1</i></span>部门是平行部门，且具有类似的功能？（填空，2分）</h3>
    <div class="anwser-text">
        <ul>
            <li class="completion-list">
                <i>1</i><span class="completion-text"><input></span>
            </li>
            <li class="completion-list">
                <i>2</i><span class="completion-text"><input></span>
            </li>
        </ul>
    </div>
    
</div>
<div class="single-choice-footer footer bg_main clearfix">
    <ul class="fl clearfix">
        <li class="footer-list-1"><i class="iconfont icon-fanhui fl"></i></li>
        <li>交卷</li>
        <li class="clearfix footer-list-3">
            <i class="iconfont icon-arrow-left fl"></i>
            <i class="iconfont icon-arrow-right fr"></i>
        </li>
        <li class="clearfix footer-list-4">
            <i class="iconfont icon-ccgl-fahuodanjindu-4"></i><span>3/5</span>
        </li>
    </ul>

</div>
   <div class="modal-mask po_fix">
        <div class="modal bg_main po_fix">
            <h3>交卷</h3>
            <p>确定交卷吗？</p>
            <ul class="clearfix">
                <li>否</li>
                <li>是</li>
            </ul>
        </div>
    </div>
<script type="text/javascript" src="../../libs/jquery/jquery.min.js"></script>
<script>
    // $('.completion-text').width($('.completion-list').width() - $('.completion-list i').width());
</script>
</body>
</html>