<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>考试详情</title>
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/iconfont/iconfont.css">
</head>
<body class="bd_self">
<!-- 头部 -->
<div class="header po_fix">
    <div class="back fl">
        <a href="#">
            <i class="iconfont icon-fanhui"></i>返回
        </a>
    </div>
    <div class="title fl">
        <h2>考试详情</h2>
    </div>
</div>
<div class="exam-details">
    <div class="content">
        <h3>冲突处理的管理策略考核的要求与管理</h3>
        <ul>
            <li>卷面总分：100</li>
            <li>合格分数线：60</li>
            <li>允许考试次数：3</li>
            <li>考试期限：2016-09-20 至 2016-09-26</li>
            <li>考试日期：2016-09-20</li>
        </ul>
    </div>
</div>
<div class="footer bg_main exam-details-footer">
    <div class="reply po_re">
        <div class="clearfix">
            <i class="iconfont icon-fanhui fl"></i>
            <span class="bar fl"></span>
        </div>
        <div class="begin-exam">
            <a href="#"><i class="iconfont icon-pen1"></i> 开始考试</a>
        </div>
    </div>
</div>
</body>
</html>