<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>问卷</title>
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/iconfont/iconfont.css">
</head>

<body class="bg_main">

<!-- 头部 -->
<div class="header po_fix">
    <div class="back fl">
        <a href="#" class="fl">
            <i class="iconfont icon-fanhui"></i>返回
        </a>
    </div>
    <div class="title fl">
        <h2>问卷</h2>
    </div>
</div>

<div class="survey-page">
    <div class="exam-list">
        <ul>
            <li class="clearfix">
                <div class="exam-title fl">
                    <h3>冲突处理的管理策略考核</h3>
                    <div class="deadline">
                        <span>截止时间：</span>
                        <span>2016-08-06</span>
                    </div>
                </div>
                <div class="exam-status exam-status-po exam-gray fr clearfix">
                    <i class="iconfont icon-guanbi"></i>
                    <span class="status">过期未考</span>
                </div>
            </li>
            <li class="clearfix">
                <div class="exam-title fl">
                    <h3>冲突处理的管理策略考核</h3>
                    <div class="deadline">
                        <span>截止时间：</span>
                        <span>2016-08-06</span>
                    </div>
                </div>
                <div class="exam-status exam-status-po exam-green fr clearfix">
                    <i class="iconfont icon-yes has-pass"></i>
                    <span class="status">已通过</span>
                </div>
            </li>
            <li class="clearfix">
                <div class="exam-title fl">
                    <h3>冲突处理的管理策略考核</h3>
                    <div class="deadline">
                        <span>截止时间：</span>
                        <span>2016-08-06</span>
                    </div>
                </div>
                <div class="exam-status exam-status-po exam-red fr clearfix">
                    <i class="iconfont icon-pen"></i>
                    <span class="status">待答卷</span>
                </div>
            </li>
            <li class="clearfix">
                <div class="exam-title fl">
                    <h3>冲突处理的管理策略考核</h3>
                    <div class="deadline">
                        <span>截止时间：</span>
                        <span>2016-08-06</span>
                    </div>
                </div>
                <div class="exam-status exam-status-po exam-red fr clearfix">
                    <i class="iconfont icon-no"></i>
                    <span class="status">不合格</span>
                </div>
            </li>
            <li class="clearfix">
                <div class="exam-title fl">
                    <h3>冲突处理的管理策略考核</h3>
                    <div class="deadline">
                        <span>截止时间：</span>
                        <span>2016-08-06</span>
                    </div>
                </div>
                <div class="exam-status exam-status-po exam-black fr clearfix">
                    <i class="iconfont icon-no"></i>
                    <span class="status">不合格</span>
                </div>
            </li>
        </ul>
    </div>
</div>
</body>
</html>