<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>答卷</title>
    <link rel="stylesheet" href="../../css/iconfont/iconfont.css">
    <link rel="stylesheet" href="../../css/style.css">
</head>
<body>
<div class="header po_fix">
    <div class="back fl">
        <a href="#" class="fl">
            <i class="iconfont icon-fanhui"></i>
            <span>返回</span>
            <span> 关闭</span>
        </a>
    </div>
    <div class="title fl">
        <h2>答卷</h2>
    </div>
</div>
<div class="single-choice">
    <div class="title bg_main">
        <h3>技术部门和产品部门因为目标优先级发生冲突怎么办？（单选 4分）</h3>
    </div>
    <div class="options-items">
        <ul>
            <li class="cl">
                <div class="fl">
                    <span class="active">
                    <i class="iconfont icon-yes"></i>
                </span>
                </div>
                <p class="fl">A:找技术部门的leader单独沟通</p>
            </li>
            <li class="cl">
                <div class="fl">
                    <span class="">
                    <i class="iconfont"></i>
                </span>
                </div>
                <p class="fl">B:找技术部门的leader单独沟通</p>
            </li>
            <li class="cl">
                <div class="fl">
                    <span class="">
                    <i class="iconfont"></i>
                </span>
                </div>
                <p class="fl">C:找技术部门的leader单独沟通</p>
            </li>
            <li class="cl">
            <div class="fl">
                    <span class="">
                    <i class="iconfont"></i>
                </span>
            </div>
            <p class="fl">D:找技术部门的leader单独沟通</p>
        </li>
        </ul>
    </div>
</div>
<div class="single-choice-footer footer bg_main clearfix">
    <ul class="fl clearfix">
        <li class="footer-list-1"><i class="iconfont icon-fanhui fl"></i></li>
        <li>交卷</li>
        <li class="clearfix footer-list-3">
            <i class="iconfont icon-arrow-left fl"></i>
            <i class="iconfont icon-arrow-right fr"></i>
        </li>
        <li class="clearfix footer-list-4">
            <i class="iconfont icon-ccgl-fahuodanjindu-4"></i><span>3/5</span>
        </li>
    </ul>

</div>
    <div class="modal-mask po_fix">
        <div class="modal bg_main po_fix">
            <h3>交卷</h3>
            <p>确定交卷吗？</p>
            <ul class="clearfix">
                <li>否</li>
                <li>是</li>
            </ul>
        </div>
    </div>
</body>
</html>