<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>答卷</title>
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/iconfont/iconfont.css">
 
</head>
<body>
<!-- 头部 -->
<div class="header po_fix">
    <div class="back fl">
        <a href="#" class="fl">
            <i class="iconfont icon-fanhui"></i>返回
        </a>
    </div>
    <div class="title fl">
        <h2>答卷</h2>
    </div>
</div>
<div class="answer-box">
    <h3>技术部门和产品部门因为目标优先级发生冲突怎么办？（4分）</h3>
    <div class="anwser-text">
        <textarea placeholder="请输入你的观点..."></textarea>
    </div>
    
</div>
<div class="single-choice-footer footer bg_main clearfix">
    <ul class="fl clearfix">
        <li class="footer-list-1"><i class="iconfont icon-fanhui fl"></i></li>
        <li>交卷</li>
        <li class="clearfix footer-list-3">
            <i class="iconfont icon-arrow-left fl"></i>
            <i class="iconfont icon-arrow-right fr"></i>
        </li>
        <li class="clearfix footer-list-4">
            <i class="iconfont icon-ccgl-fahuodanjindu-4"></i><span>3/5</span>
        </li>
    </ul>

</div>
</body>
</html>