<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>消息</title>
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/iconfont/iconfont.css">
</head>
<body class="bg_main">
<!-- 头部 -->
<div class="header po_fix">
    <div class="back fl">
        <a href="#" class="fl">
            <i class="iconfont icon-fanhui"></i>返回
        </a>
    </div>
    <div class="title fl">
        <h2>消息</h2>
    </div>
</div>
<div class="main" id="message">
    <div class="message-list">
        <ul>
            <li>
                <h3 class="title">滴滴学习事业部学习堆发布一个新考试<i class="iconfont icon-dot po_re"></i></h3>
                <p class="from">来源：系统管理员</p>
                <p class="time">2016-07-12 18:00</p>
            </li>
            <li>
                <h3 class="title">滴滴学习事业部学习堆发布一个新考试滴滴学习事业部学习堆发布一个新考试滴滴学习事业部学习堆发布一个新考试<i class="iconfont icon-dot po_re"></i></h3>
                <p class="from">来源：系统管理员</p>
                <p class="time">2016-07-12 18:00</p>
            </li>
        </ul>
    </div>
</div>
</body>
</html>