<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>考试</title>
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/iconfont/iconfont.css">
</head>
<body>

<!-- 头部 -->
<div class="header po_fix">
    <div class="back fl">
        <a href="#" class="fl">
            <i class="iconfont icon-fanhui"></i>返回
        </a>
    </div>
    <div class="title fl">
        <h2>考试</h2>
    </div>
</div>
<div class="main per-exam exam-page">
    <div class="exam-list">
        <ul>
            <li class="clearfix">
                <div class="exam-title fl">
                    <h3>冲突处理的管理策略考核</h3>
                    <div class="deadline">
                        <span>截止时间：</span>
                        <span>2016-08-06</span>
                    </div>
                </div>
                <div class="exam-status exam-status-po fr clearfix po-ab">
                    <i class="iconfont icon-wenhao marking"></i>
                    <span class="status marking">评卷中</span>
                </div>
            </li>
            <li class="clearfix">
                <div class="exam-title fl">
                    <h3>冲突处理的管理策略考核</h3>
                    <div class="deadline">
                        <span>截止时间：</span>
                        <span>2016-08-06</span>
                    </div>
                </div>
                <div class="exam-status fr exam-status-po clearfix">
                    <i class="iconfont icon-wenhao marking"></i>
                    <span class="status marking">评卷中</span>
                </div>
            </li>
            <li class="clearfix">
                <div class="exam-title fl">
                    <h3>冲突处理的管理策略考核</h3>
                    <div class="deadline">
                        <span>截止时间：2016-08-06</span>
                    </div>
                </div>
                <div class="exam-status exam-status-po fr clearfix">
                    <i class="iconfont icon-no not-pass"></i>
                    <span class="status not-pass">不合格</span>
                </div>
            </li>
            <li class="clearfix">
                <div class="exam-title fl">
                    <h3>冲突处理的管理策略考核</h3>
                    <div class="deadline">
                        <span>截止时间：2016-08-06</span>
                    </div>
                </div>
                <div class="exam-status exam-status-po fr clearfix">
                    <i class="iconfont icon-pen waiting"></i>
                    <span class="status waiting">待答卷</span>
                </div>
            </li>
            <li class="clearfix">
                <div class="exam-title fl">
                    <h3>冲突处理的管理策略考核</h3>
                    <div class="deadline">
                        <span>截止时间：2016-08-06</span>
                    </div>
                </div>
                <div class="exam-status exam-status-po fr clearfix">
                    <i class="iconfont icon-yes has-pass"></i>
                    <span class="status has-pass-font">已通过</span>
                </div>
            </li>
            <li class="clearfix">
                <div class="exam-title fl">
                    <h3>冲突处理的管理策略考核</h3>
                    <div class="deadline">
                        <span>截止时间：2016-08-06</span>
                    </div>
                </div>
                <div class="exam-status exam-status-po fr clearfix">
                    <i class="iconfont icon-yes has-pass"></i>
                    <span class="status has-pass-font">已通过</span>
                </div>
            </li>
        </ul>
    </div>
</div>
</body>
</html>