<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>课程详情</title>
    <!-- <link rel="stylesheet" type="text/css" href="../../css/base.css"> -->
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/iconfont/iconfont.css">
    <link rel="stylesheet" href="../../css/special.css">
    <style type="text/css">
    
    
    </style>
</head>
<body class="bg_fffdff">
<!-- 头部 -->
<div class="header po_fix">
    <div class="back fl">
        <a href="#" class="fl">
            <i class="iconfont icon-fanhui"></i>返回
        </a>
    </div>
    <div class="title fl">
        <h2>课程详情</h2>
    </div>
    <div class="more fr">
        <i class="iconfont icon-more"></i>
    </div>
</div>
<div class="main" id="collect_course">
    <!-- 视频播放start -->
    <div class="radio-box">
        <radio></radio>
        <div class="radio-count">
            <span>
                <i class="iconfont icon-thumb"></i>222
            </span>
            <span>
                <i class="iconfont icon-heart"></i>222
            </span>
        </div>
        <div class="radio-bottom">
            <i class="iconfont icon-quanping"></i>
        </div>
    </div>
    <!-- 视频播放end -->
    <ul class="optional-tab cl">
        <li class="fl">
            <span>详情</span>
        </li>
        <li class="fl">
            <span>内容</span>
        </li>
        <li class="fl active">
            <span>评论<i>(123)</i></span>
        </li>
    </ul>
    <div class="tab-con-list">
        <div class="details-detail">
            <div class="details-brief cl">
                <div class="brief-top-left fl">
                    <h3>滴滴学院-教你得心应手牢记过万单词</h3>
                    <div class="cl brief-label">
                        <span class="fl">新人专属区</span>
                        <span class="fl">沟通技巧区</span>
                        <span class="fl">语言学习区</span>
                        <span class="fl">滴滴学院区</span>
                    </div>
                    <div class="cl brief-bottom">
                        <p class="fl">知识类型：领导力</p>
                        <p class="fl">学习时长：2.5小时</p>
                        <p class="fl">完成条件：全部学习完成</p>
                    </div>
                </div>
                <div class="brief-top-right fr">
                    <p>
                        <i class="iconfont icon-eye"></i>
                        <span>800</span>
                    </p>
                </div>
            </div>
            <div class="details-intro">
                <h3>简介</h3>
                <p>滴滴出行这个App改变了传统打车方式，建立培养出大移动互联网 时代下引领的用户现代化出行方式。较比传统电话召车与路滴滴出行这个App改变了传统打车方式，建立培养出大移动互联网 时代下引领的用户现代化出行方式。较比传统电话召车与路…</p>
                <div class="see-more"><i class="iconfont icon-down2"></i></div>
            </div>
            <div class="details-teacher">
                <h3>讲师介绍</h3>
                <ul>
                    <li class="cl">
                        <div class="teacher-img fl">
                            <img src="../../pic/teacher-logo.png">
                        </div>
                        <div class="teacher-text fl">
                            <p class="teacher-name">刘老师</p>
                            <p><span>滴滴事业部</span><span>金牌讲师</span></p>
                        </div>
                    </li>
                    <li class="cl">
                        <div class="teacher-img fl">
                            <img src="../../pic/teacher-logo.png">
                        </div>
                        <div class="teacher-text fl">
                            <p class="teacher-name">刘老师</p>
                            <p><span>滴滴事业部</span><span>金牌讲师</span></p>
                        </div>
                    </li>
                    <li class="cl">
                        <div class="teacher-img fl">
                            <img src="../../pic/teacher-logo.png">
                        </div>
                        <div class="teacher-text fl">
                            <p class="teacher-name">刘老师</p>
                            <p><span>滴滴事业部</span><span>金牌讲师</span></p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div>
            <ul class="brief-content">
                <li class="cl">
                    <i class="iconfont fl"></i>我们的管理-行为的艺术及其滴滴项目
                </li>
            </ul>
            <a href="javascript:;" class="detail-down-btn">下载课程内容</a>
        </div>
        <div class="details-comment">
            <!-- 无评论内容 start -->
            <!-- <div class="comment-empty">
                <p>暂无评论，快来抢占沙发吧！</p>
            </div> -->
            <!-- 无评论内容 end -->
            <div class="comment-list">
                <ul>
                    <li>
                        <div class="cl comment-list-top">
                            <div class="fl comment-header">
                                <img src="../../pic/common-logo1_01.png">
                            </div>
                            <div class="fl comment-text">
                                <h3>笑笑</h3>
                                <p>又到年底了，单位又要搞年会，让大家准备节目中，这课程有没有好的课程让我参考个节目啊？</p>
                                <div>
                                    <span>2016-09-23</span>
                                    <div class="operation fr">
                                        <a href="javascript" class="fl">回复</a>
                                        <a href="javascript" class="fl">删除</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ul class="reply-comment">
                            <li>
                                <div class="cl comment-list-top comment-list-top-1">
                                    <div class="fl comment-header comment-header-1">
                                        <img src="../../pic/common-logo1_01.png">
                                    </div>
                                    <div class="fl comment-text comment-text-1">
                                        <h3>笑笑</h3>
                                        <p>又？</p>
                                        <div>
                                            <span>2016-09-23</span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="cl comment-list-top comment-list-top-1">
                                    <div class="fl comment-header comment-header-1">
                                        <img src="../../pic/common-logo1_01.png">
                                    </div>
                                    <div class="fl comment-text comment-text-1">
                                        <h3>笑笑</h3>
                                        <p>又？</p>
                                        <div>
                                            <span>2016-09-23</span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div class="cl comment-list-top">
                            <div class="fl comment-header">
                                <img src="../../pic/common-logo1_01.png">
                            </div>
                            <div class="fl comment-text">
                                <h3>笑笑</h3>
                                <p>又到年底了，单位又要搞年会，让大家准备节目中，这课程有没有好的课程让我参考个节目啊？</p>
                                <div>
                                    <span>2016-09-23</span>
                                    <div class="operation fr">
                                        <a href="javascript" class="fl">回复</a>
                                        <a href="javascript" class="fl">删除</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ul class="reply-comment">
                            <li>
                                <div class="cl comment-list-top comment-list-top-1">
                                    <div class="fl comment-header comment-header-1">
                                        <img src="../../pic/common-logo1_01.png">
                                    </div>
                                    <div class="fl comment-text comment-text-1">
                                        <h3>笑笑</h3>
                                        <p>又？</p>
                                        <div>
                                            <span>2016-09-23</span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="cl comment-list-top comment-list-top-1">
                                    <div class="fl comment-header comment-header-1">
                                        <img src="../../pic/common-logo1_01.png">
                                    </div>
                                    <div class="fl comment-text comment-text-1">
                                        <h3>笑笑</h3>
                                        <p>又？</p>
                                        <div>
                                            <span>2016-09-23</span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="write-comment">
                <div class="po_re fl write-box">
                    <i class="iconfont icon-fabiao"></i>
                    <input type="text" value="回复笑笑：这是一个好方法">
                </div>
                <a href="#" class="apply-btn fr">发表</a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="../../libs/jquery/jquery.min.js"></script>
<script type="text/javascript">
    $('.comment-text').width($('.comment-list-top').width() - $('.comment-header').width() -1);
    $('.comment-text-1').width($('.comment-list-top-1').width() - $('.comment-header-1').width() -1);
    $('.option-list li').on('click',function(){
        $(this).addClass('active').siblings().removeClass('active');
    })
    $('.see-more').on('click',function(){
        $(this).toggleClass('active');
        $(this).siblings('p').toggleClass('active');
    })
    var wh = $(window).height();
    
    var radioH = $('.radio-box').height();
    var tabH = $('.optional-tab').height();
    var footerH = $('.detail-down-btn').height();
    $('.comment-empty').height(wh - radioH - tabH - footerH);
    $('.optional-tab li').on('click',function(){
        $(this).addClass('active').siblings().removeClass('active');
        $('.tab-con-list > div').eq($(this).index()).show().siblings().hide();
    })
    if($('.optional-tab li').hasClass('active')){
        $('.tab-con-list > div').eq($(this).index()).show().siblings().hide();
    }


</script>
</body>
</html>