<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>自选</title>
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/iconfont/iconfont.css">
</head>
<body class="bg_fffdff">
<!-- 头部 -->
<div class="header po_fix">
    <div class="back fl">
        <a href="#" class="fl">
            <i class="iconfont icon-fanhui"></i>返回
        </a>
    </div>
    <div class="title fl">
        <h2>自选</h2>
    </div>
</div>
<div class="optional-page">
    <!--搜索-->
    <div class="search bg_main clearfix po_re">
        <div class="search-box po_re fl">
            <input type="text" placeholder="搜索你需要的内容"/>
            <i class="iconfont icon-search"></i>
        </div>
        <div class="sort dropdown fr">
            筛选 <i class="iconfont icon-drop-down icon-rotate"></i>
        </div>
        <div class="dropdown-menu" id="filter-menu">
            <div class="scope">
                <h4>适用范围</h4>
                <ul>
                    <li>全部</li>
                    <li>新人专区</li>
                    <li>进阶课程</li>
                    <li>初级课程</li>
                    <li>高级课程</li>
                    <li>技术达人</li>
                </ul>
            </div>
            <div class="items">
                <h4>知识类型</h4>
                <ul>
                    <li>全部</li>
                    <li>文化</li>
                    <li>娱乐</li>
                    <li>沟通</li>
                    <li>健康</li>
                    <li>健身</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="course-list po_re">
        <div class="mask"></div>
        <ul>
            <li>
                <div class="course_thumb">
                    <img src="../../pic/course_collect_thumb_01.png">
                </div>
                <div class="info">
                    <h3 class="title">滴滴代驾事业部</h3>
                    <p class="intro font_nowrap">这是一个幸福美满这是一个幸福美满这是一个幸福美满</p>
                </div>
            </li>
            <li>
                <div class="course_thumb">
                    <img src="../../pic/course_collect_thumb_02.png">
                </div>
                <div class="info">
                    <h3 class="title">练习与考试</h3>
                    <p class="intro font_nowrap">这是一个检验人生的机会</p>
                </div>
            </li>
            <li>
                <div class="course_thumb">
                    <img src="../../pic/course_collect_thumb_03.png">
                </div>
                <div class="info">
                    <h3 class="title">自我提升</h3>
                    <p class="intro font_nowrap">这是一个幸福美满这是一个幸福美满这是一个幸福美满</p>
                </div>
            </li>
            <li>
                <div class="course_thumb">
                    <img src="../../pic/course_collect_thumb_04.png">
                </div>
                <div class="info">
                    <h3 class="title">人力资源管理</h3>
                    <p class="intro font_nowrap">这是一个幸福美满这是一个幸福美满这是一个幸福美满</p>
                </div>
            </li>
        </ul>
    </div>
</div>
<script src="../../libs/jquery/jquery.min.js"></script>
<script src="../../js/common.js"></script>
</body>
</html>