<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>课程</title>
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/iconfont/iconfont.css">
</head>
<body class="bg_main">
<!-- 头部 -->
<div class="header po_fix">
    <div class="back fl">
        <a href="#" class="fl">
            <i class="iconfont icon-fanhui"></i>返回
        </a>
    </div>
    <div class="title fl">
        <h2>课程</h2>
    </div>
</div>
<div id="course-page">
    <div class="course-list">
        <ul>
            <li class="clearfix">
                <div class="course_thumb">
                    <img src="../../pic/course_thumb_01.png">
                </div>
                <div class="course_info">
                    <h3>
                        可能是所有运营从业者最该学习的运营手段
                    </h3>
                    <div class="course-about clearfix">
                        <span class="type fl">类型：面授培训</span>
                        <span class="duration fr">学习时长：13.5小时</span>
                    </div>
                </div>
            </li>
            <li class="clearfix">
                <div class="course_thumb">
                    <img src="../../pic/course_thumb_01.png">
                </div>
                <div class="course_info">
                    <h3>
                        可能是所有运营从业者最该学习的运营手段
                    </h3>
                    <div class="course-about clearfix">
                        <span class="type fl">类型：面授培训</span>
                        <span class="duration fr">学习时长：13.5小时</span>
                    </div>
                </div>
            </li>
            <li class="clearfix">
                <div class="course_thumb">
                    <img src="../../pic/course_thumb_01.png">
                </div>
                <div class="course_info">
                    <h3>
                        可能是所有运营从业者最该学习的运营手段
                    </h3>
                    <div class="course-about clearfix">
                        <span class="type fl">类型：面授培训</span>
                        <span class="duration fr">学习时长：13.5小时</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
</body>
</html>