<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <!--优先使用 IE 最新版本和 Chrome-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <!--移动端配置-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <!--<meta http-equiv="Cache-Control" content="max-age=0">-->
  <meta http-equiv="Cache-Control:private" content="max-age=0">
  <meta name="apple-touch-fullscreen" content="yes">
  <!-- 是否启用 WebApp 全屏模式，删除苹果默认的工具栏和菜单栏 -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <!-- 启用360浏览器的极速模式(webkit) -->
  <meta name="renderer" content="webkit">
  <!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
  <meta name="HandheldFriendly" content="true">
  <!-- uc强制竖屏 -->
  <meta name="screen-orientation" content="portrait">
  <!-- QQ强制竖屏 -->
  <meta name="x5-orientation" content="portrait">
  <!-- UC强制全屏 -->
  <meta name="full-screen" content="yes">
  <!-- QQ强制全屏 -->
  <meta name="x5-fullscreen" content="true">
  <!-- UC应用模式 -->
  <meta name="browsermode" content="application">
  <!-- QQ应用模式 -->
  <meta name="x5-page-mode" content="app">
  <!-- windows phone 点击无高光 -->
  <meta name="msapplication-tap-highlight" content="no">
  <!-- 不被显示为拨号连接 -->
  <meta name="format-detection" content="telephone=no">
    <title>Title</title>
</head>
<body style="margin:0;padding:0;">
<div class="input-wrapper">
  <div class="box-wrapper">
    <p style="margin:0;font-size:60px;">box</p>
  </div>
  <div class="input-content" style="height:100px;">
    <input type="text" style="height:100%;width:100%;">
  </div>
</div>
<script src="../../libs/jquery/jquery.min.js"></script>
<script>
  alert($(window).height())
  $('.input-wrapper').height($(window).height());
  $('.box-wrapper').height($(window).height()-100)
  var timerId = null;
$('.input-content input').on('focus',function(e){
  let cnt = 0;
  setInterval( () => {
    if (cnt < 3) {
    cnt++;
  } else {
    clearInterval(timerId);
    timerId = null;
    return;
  }
  document.body.scrollTop = document.body.scrollHeight;
}, 300);
})
  $('.input-content input').on('blur',function(e){
    if (timerId) {
      clearInterval(timerId);
      timerId = null;
    }
  })
//  onFocus(e) {
//    let cnt = 0;
//    setInterval( () => {
//      if (cnt < 3) {
//      cnt++;
//    } else {
//      clearInterval(timerId);
//      timerId = null;
//      return;
//    }
//    document.body.scrollTop = document.body.scrollHeight;
//  }, 300);
//  }
//
//  onBlur(e) {
//    if (timerId) {
//      clearInterval(timerId);
//      timerId = null;
//    }
//  }
</script>
</body>
</html>
