<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>专题详情</title>
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/iconfont/iconfont.css">
    <link rel="stylesheet" type="text/css" href="../../css/special.css">
</head>

<body class="body_noPb">
    <!--头部-->
    <div class="header po_fix">
        <div class="back fl">
            <a href="#" class="fl">
                <i class="iconfont icon-fanhui"></i>返回
            </a>
        </div>
        <div class="title fl">
            <h2>专题详情</h2>
        </div>
        <div class="more fr">
            <i class="iconfont icon-more"></i>
        </div>
    </div>
    <div class="banner">
        <i class="banner_img_po">
            <img src="../../images/subject-banner.png">
        </i>
        <div class="banner-info">
            <h3>滴滴打车软件精髓玩转专题</h3>
            <a href="" class="btn-collect">收藏专题</a>
            <ul class="banner-word">
                <li>我的</li>
                <li>勤奋</li>
                <li>好学</li>
            </ul>
        </div>
    </div>
    <div class="subject-main optional-page">
        <div class="subject-main-intro">
            <i class="left_mark icon_mark"></i>
            <div class="over_box">
                <p>“滴滴出行” App改变了传统打车方式，建立培养出大移动互联网时代下引领的用户现代化出行方式。滴滴打车的诞生更是改变了传统打车市场格局，颠覆了路边拦车概念，利用移动互联网特点，将线上与线下相融合，从打车初始阶段到下车使用线上支付车费，画出一个乘客与司机紧密相连的o2o完美闭环，最大限度优化乘客打车体验，改变传统出租司机等客方式，让司机师傅根据乘客目的地按意愿“接单”</p>
            </div>
            
            <i class="right_mark icon_mark"></i>
            <i class="iconfont icon-fanhui over_auto"></i>
        </div>

        <ul class="section">
            <li>
                <div class="title clearfix">
                    <h3 class="fl">Part 1</h3>
                    <h3 class="fl">天空之城</h3>
                </div>
                <div class="about">
                    <h4>这是一个很好看的专题课程的一个章节</h4>
                </div>
                <div class="course-list po_re">
                    <div class="mask"></div>
                    <ul>
                        <li>
                            <div class="course_thumb">
                                <img src="../../pic/course_collect_thumb_01.png">
                            </div>
                            <div class="info">
                                <h3 class="title">滴滴代驾事业部</h3>
                                <p class="intro font_nowrap">这是一个幸福美满这是一个幸福美满这是一个幸福美满</p>
                            </div>
                        </li>
                        <li>
                            <div class="course_thumb">
                                <img src="../../pic/course_collect_thumb_02.png">
                            </div>
                            <div class="info">
                                <h3 class="title">练习与考试</h3>
                                <p class="intro font_nowrap">这是一个检验人生的机会</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                    <div class="title clearfix">
                        <h3 class="fl">Part 2</h3>
                        <h3 class="fl">小溪之滴滴打车</h3>
                    </div>
                    <div class="about">
                        <h4>这是一个很好看的专题课程的一个章节</h4>
                    </div>
                    <div class="course-list po_re">
                        <div class="mask"></div>
                        <ul>
                            <li>
                                <div class="course_thumb">
                                    <img src="../../pic/course_collect_thumb_01.png">
                                </div>
                                <div class="info">
                                    <h3 class="title">滴滴代驾事业部</h3>
                                    <p class="intro font_nowrap">这是一个幸福美满这是一个幸福美满这是一个幸福美满</p>
                                </div>
                            </li>
                            <li>
                                <div class="course_thumb">
                                    <img src="../../pic/course_collect_thumb_02.png">
                                </div>
                                <div class="info">
                                    <h3 class="title">练习与考试</h3>
                                    <p class="intro font_nowrap">这是一个检验人生的机会</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
        </ul>
    </div>
    <script src="../../libs/jquery/jquery.min.js"></script>
    <script src="../../js/common.js"></script>
    <script type="text/javascript">
        $('.over_auto').on('click',function(){
            $('.over_box').toggleClass('height_auto');
            $(this).toggleClass('rotate');
        })
    </script>
</body>

</html>