<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>专题</title>
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/iconfont/iconfont.css">

</head>
<body>
<!-- 头部 -->
<div class="header po_fix">
    <div class="back fl">
        <a href="#" class="fl">
            <i class="iconfont icon-fanhui"></i>返回
        </a>
    </div>
    <div class="title fl">
        <h2>专题</h2>
    </div>
</div>
<!--搜索-->
    <div class="search bg_main clearfix po_re">
        <div class="search-box po_re fl">
            <input type="text" placeholder="搜索你需要的内容"/>
            <i class="iconfont icon-search"></i>
        </div>
        <div class="sort dropdown fr">
            筛选 <i class="iconfont icon-drop-down icon-rotate"></i>
        </div>
        <div class="dropdown-menu" id="filter-menu">
            <div class="scope">
                <h4>适用范围</h4>
                <ul>
                    <li>全部</li>
                    <li>新人专区</li>
                    <li>进阶课程</li>
                    <li>初级课程</li>
                    <li>高级课程</li>
                    <li>技术达人</li>
                </ul>
            </div>
            <div class="items">
                <h4>知识类型</h4>
                <ul>
                    <li>全部</li>
                    <li>文化</li>
                    <li>娱乐</li>
                    <li>沟通</li>
                    <li>健康</li>
                    <li>健身</li>
                </ul>
            </div>
        </div>
    </div>
<div class=" question-box">
    <ul>
        <li class="question-list">
        <img src="../../images/question.png">
        <i class="question-mask"></i>
        <div class="question-title-wrap">
            <div class="question-title">
                <h3>快车事业部领导力培训</h3>
                <p><span class="margin-right">知识类型：团队合作 </span><span>章节总数：10</span></p>
            </div>
        </div>
        
            
        </li>
    </ul>
</div>
    <script src="../../libs/jquery/jquery.min.js"></script>
    <script src="../../js/common.js"></script>
</body>
</html>